@media screen and (max-width: 1550px) {
    .wrapper {
        height: 100vh;
        background-image: url(./images/фон.png);
        width: 1839px;
        height: 1514px;
    }
    .container {
        flex-direction: row;
        max-width: 1504px;
        margin: 0 auto;
        padding: 40px 0;
    }
    .section1 {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .h1 {
        font-size: 106px;
        font-weight: 400;
        color: #F4F4F4;
        margin-bottom: 24px;
        text-align: center;
    }
    .p {
        font-size: 24px;
        color: #CEFFFD;
        margin-bottom: 76px;
        text-align: center;
    }
    .btn2 {
        margin: 0 33%;
    }
    .block2 {
        content: none;
    }

    .team2 {
        flex-direction: ;
        margin-bottom: 240px;
    }
}